AI_Meeting_Scheduler.json
{
  "name": "AI Meeting Scheduler",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Kolkata"
  },
  "nodes": [
    {
      "id": "60033d33-2657-461d-932c-446420269eb2",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [180, 180],
      "parameters": {
        "pollTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "XXX_GMAIL_ID_XXX",
          "name": "XXX_GMAIL_ACCOUNT_XXX"
        }
      }
    },
    {
      "id": "b26a595c-a0f6-436b-9525-6759e7e03a0b",
      "name": "Perplexity",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [360, 180],
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=You are a calendar assistant...",
              "role": "system"
            },
            {
              "content": "=// Get the Perplexity message..."
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "credentials": {
        "perplexityApi": {
          "id": "XXX_PERPLEXITY_ID_XXX",
          "name": "XXX_PERPLEXITY_ACCOUNT_XXX"
        }
      }
    },
    {
      "id": "bb977434-ab80-4bb3-9e59-121073f5998c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 60],
      "parameters": {
        "jsCode": "// JS logic for endDateTime"
      }
    },
    {
      "id": "0e4c77ea-f9e1-4ef6-a996-2e8ad3d3a4bc",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1220, 60],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "your_email@example.com",
          "mode": "list",
          "cachedResultName": "your_email@example.com"
        },
        "timeMin": "={{ $json.startDateTime }}",
        "timeMax": "={{ $json.endDateTime }}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XXX_CALENDAR_ID_XXX",
          "name": "XXX_CALENDAR_ACCOUNT_XXX"
        }
      }
    },
    {
      "id": "7cf6dc17-a231-4371-adf8-5a336774d2fc",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1640, -33],
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "your_email@example.com",
          "mode": "list",
          "cachedResultName": "your_email@example.com"
        },
        "start": "={{ $('Code').item.json.startDateTime }}",
        "end": "={{ $('Code').item.json.endDateTime }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Gmail Trigger').item.json.from.value[0].address }}, {{ $('Gmail Trigger').item.json.to.value[0].address }}"
          ],
          "summary": "Invoice_Automation Project Discussion"
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XXX_CALENDAR_ID_XXX",
          "name": "XXX_CALENDAR_ACCOUNT_XXX"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [{ "node": "Perplexity", "type": "main", "index": 0 }]
      ]
    },
    "Perplexity": {
      "main": [
        [{ "node": "Code", "type": "main", "index": 0 }]
      ]
    },
    "Code": {
      "main": [
        [{ "node": "Google Calendar1", "type": "main", "index": 0 }]
      ]
    },
    "Google Calendar1": {
      "main": [
        [{ "node": "Google Calendar", "type": "main", "index": 0 }]
      ]
    }
  }
}
